body{
    background-color: white;
}
nav{
    background-color: #879fbf;
    overflow: hidden;
    height: 60px;
    width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content:right;
    padding-right: 20px;
    padding-top: 5px;
}

nav a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

nav a:hover{
    color: grey;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding-left: 30px;
    /* width: 400px; */
    /* background-color: #ffffff; */
}

#logo img{
    width: 150px;
    height: 150px;
}

#carousel-section{
    width: 100%;
    height: auto;
    overflow: hidden;
}

#carousel{
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 30vw;
  
}

#carousel img{
    width: 100%;
    height: 100%;
 
}

#blogs-section{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: space-between;
    
}

#blogs-section ul{
    list-style: none;
    display: flex;
}

#blog{
    display: inline-flex;
    flex-direction: row;
    margin: 20px;
    width: 100%;
}

#blog-image{
    flex: 1;
}

#blog-image img{
    width: 250px;
    height: 250px;
}

#blog-content{
    padding: 30px;
}
#read-more {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    
}